<!DOCTYPE html>
<html>
<head>
  <title>PaTCH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", welcome_index_path %></li>
      <li><%= link_to "Updates", welcome_updates_path %></li>
      <li><%= link_to "The Shelf", welcome_shelf_path %></li>
      <li><%= link_to "FAQ's", welcome_faqs_path %></li>
      <li><%= link_to "Requests", requests_path %></li>
      <li><%= link_to "Login", welcome_index_path %></li>
    </ul>

     <%= yield %>
    
    <ul class="nav nav-pills">
      <li><%= link_to "About Us", welcome_about_path %></li>
      <li><%= link_to "Disclaimer", welcome_disclaimer_path %></li>
    </ul>
  </div>
</body>
</html>
